@model Shopping.Data.Entities.Category

@{
    ViewData["Title"] = "Details";
}
<flash dismissable="true" />
<div>
    <h4>Detalles de la categoría</h4>
    <hr />
     <partial name="_CategoryDetails"/>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning btn-sm">Editar</a>
    <a asp-action="Index" class="btn btn-outline-success btn-sm">Regresar</a>
</div>
