@model Shopping.Data.Entities.City

@{
    ViewData["Title"] = "Details";
}
<flash dismissable="true" />
<div>
    <h4>Detalles de la ciudad</h4>
    <hr />
     <partial name="_CityDetails"/>
</div>
<div>
    <a asp-action="EditCity" asp-route-id="@Model?.Id" class="btn btn-outline-warning btn-sm">Editar</a>
    <a asp-action="DetailsState" asp-route-id="@Model?.State.Id" class="btn btn-outline-success btn-sm">Regresar</a>
</div>